$grid-width: 768px; // default 1024px
$grid-height: 528px; // default 704px

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #397097;
}

.open-sans-700 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.open-sans-500 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.bungee {
  font-family: "Bungee", sans-serif;
  font-style: normal;
}

button {
  font-size: 20px;
  line-height: 24px;
  background-color: #397097;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  width: fit-content;
  height: fit-content;
}

h1 {
  font-size: 44px;
  line-height: 48px;
}

h2 {
  font-size: 28px;
  line-height: 32px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;


  .content {
    height: 100vh;
    display: flex;
    justify-content: space-between;

    .content-left {
      display: flex;
      flex-direction: column;
      padding-left: 32px;
      width: calc(calc(100vw - 1024px) / 2);
      height: 100vh;

      h3 {
        color: #397097;
        margin: 16px 0;
      }

      #categories {
        flex-grow: 1;
        overflow-y: scroll;
      }

      #seasons {
        flex-grow: 2;
        overflow-y: scroll;
      }

      .option {
        display: flex;
        flex-wrap: wrap;
        column-gap: 16px;
        width: 370px;

        .option-input {
          width: fit-content;
          display: flex;
          align-items: center;
          gap: 16px;

          input {
            width: 24px;
            height: 24px;
            accent-color: #397097;
          }
        }
      }
    }
  }

  .content-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;

    .title {
      display: flex;
      align-items: center;
      gap: 16px;

      img {
        width: 48px;
        height: 48px;
      }

      h1 {
        text-align: center;
        color: #397097;
      }
    }

    canvas {
      width: $grid-width !important;
      height: $grid-height !important;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
      width: 50%;

      .generate {
        font-size: 28px;
        line-height: 32px;
      }

      .button-with-info {
        display: flex;
        width: 100%;

        button {
          width: 100%;

          img {
            width: 24px;
            height: 24px;
          }
        }

        span {
          width: 48px;
          height: 48px;

          img {
            width: 40px;
            height: 40px;
            margin: 4px;
          }
        }
      }

      .sub-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        width: 80%;

        .tooltip {
          position: relative;
        }

        .tooltip .tooltip-text {
          visibility: hidden;
          width: 240px;
          height: fit-content;
          background-color: white;
          color: #397097;
          border: 1px solid #397097;
          text-align: center;
          border-radius: 4px;
          padding: 8px 4px;

          font-size: 20px;
          line-height: 24px;

          /* Position the tooltip */
          position: absolute;
          z-index: 1;
          top: 50%;
          transform: translateY(-50%);
        }

        .tooltip:hover .tooltip-text {
          visibility: visible;
        }
      }
    }
  }

  .content-right {
    width: calc(calc(100vw - 1024px) / 2);
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .cell-options {
      width: 348px;
      height: 50vh;
      display: flex;
      align-content: flex-start;
      column-gap: 16px;
      flex-wrap: wrap;
      padding: 32px 0;
      overflow: auto;

      #tileOptions {
        width: 100px;
        height: 100px;
      }

      #itemOptions {
        width: 100px;
        height: 125px;
      }

      div {
        cursor: pointer;

        img {
          width: 100px;
        }
      }

      .tooltip {
        position: relative;
      }

      .tooltip .tooltip-text {
        visibility: hidden;
        width: 100px;
        background-color: white;
        color: #397097;
        border: 1px solid #397097;
        text-align: center;
        border-radius: 4px;
        padding: 8px 4px;

        font-size: 20px;
        line-height: 24px;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: 100%;
      }

      .tooltip:hover .tooltip-text {
        visibility: visible;
      }
    }
  }

}


.footer {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  background-color: #397097;
  color: white;


  h1 {
    width: 50%;
  }

  h2 {
    width: 50%;
  }

  a {
    width: 50%;
    color: white;
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 32px;
  border: 1px solid #888;
  width: 80%;
  color: #397097;

  h3 {
    margin-top: 16px;
  }
}

/* The Close Button */
.close {
  float: right;
  width: 32px;
  height: 32px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

