$grid-width: 768px; // default 1024px
$grid-height: 528px; // default 704px

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #397097;
}

.open-sans-700 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.open-sans-500 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.bungee {
  font-family: "Bungee", sans-serif;
  font-style: normal;
}

button {
  font-size: 20px;
  line-height: 24px;
  background-color: #397097;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 100px;
  width: fit-content;
  height: fit-content;

  &:hover {
    cursor: pointer;
    background-color: #38858a;
  }
}

h1 {
  font-size: 44px;
  line-height: 48px;
}

h2 {
  font-size: 28px;
  line-height: 32px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;


  .content {
    height: 100vh;
    display: flex;
    justify-content: space-between;

    .content-left {
      display: flex;
      flex-direction: column;
      padding-left: 32px;
      width: calc(calc(100vw - 1024px) / 2);
      height: 100vh;

      h3 {
        color: #397097;
        margin: 16px 0;
      }

      #categories {
        flex-grow: 1;
        overflow-y: scroll;
      }

      #seasons {
        flex-grow: 2;
        overflow-y: scroll;
      }

      .option {
        display: flex;
        flex-wrap: wrap;
        column-gap: 16px;
        width: 370px;

        .option-input {
          width: fit-content;
          display: flex;
          align-items: center;
          gap: 16px;

          input {
            width: 24px;
            height: 24px;
            accent-color: #397097;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .content-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;

    .title {
      display: flex;
      align-items: center;
      gap: 16px;
      color: #397097;

      h1 {
        text-align: center;
      }

      .material-icons {
        font-size: 48px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    canvas {
      width: $grid-width !important;
      height: $grid-height !important;
    }

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
      width: 50%;

      .generate {
        font-size: 28px;
        line-height: 32px;

        width: 100%;
      }

      .sub-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 16px;
        width: 100%;

        .button-with-info {
          display: flex;
          align-items: center;
          width: 100%;
          gap: 16px;

          button {
            width: 100%;
          }

          .material-icons {
            color: #397097;
            font-size: 32px;
          }
        }

        .tooltip {
          position: relative;

          &:hover {
            cursor: default;
          }
        }

        .tooltip .tooltip-text {
          visibility: hidden;
          width: fit-content;
          height: fit-content;
          background-color: white;
          color: #397097;
          border: 1px solid #397097;
          text-align: center;
          border-radius: 4px;
          padding: 8px 4px;

          font-size: 20px;
          line-height: 24px;

          /* Position the tooltip */
          position: absolute;
          z-index: 1;
          left: 40px;
          top: 50%;
          transform: translateY(-50%);
        }

        .tooltip:hover .tooltip-text {
          visibility: visible;
        }
      }
    }
  }

  .content-right {
    width: calc(calc(100vw - 1024px) / 2);
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    h3 {
      color: #397097;
      width: 348px;
      margin: 16px 0;
    }

    .cell-options {
      width: 348px;
      height: 50vh;
      display: flex;
      align-content: flex-start;
      column-gap: 16px;
      flex-wrap: wrap;
      overflow: auto;

      #tileOptions {
        width: 100px;
        height: 100px;
      }

      #itemOptions {
        width: 100px;
        height: 125px;
      }

      h2 {
        color: #397097;
      }

      div {
        cursor: pointer;

        img {
          width: 100px;
        }
      }

      .tooltip {
        position: relative;
      }

      .tooltip .tooltip-text {
        visibility: hidden;
        width: 100px;
        background-color: white;
        color: #397097;
        border: 1px solid #397097;
        text-align: center;
        border-radius: 4px;
        padding: 8px 4px;

        font-size: 20px;
        line-height: 24px;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        top: 100%;
      }

      .tooltip:hover .tooltip-text {
        visibility: visible;
      }
    }
  }

}


.footer {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  background-color: #397097;
  color: white;


  h1 {
    width: 50%;
  }

  h2 {
    width: 50%;
  }

  a {
    width: 50%;
    color: white;
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
    color: #ba4949;
  }

  a:hover {
    text-decoration: underline;
  }

  a:active {
    text-decoration: underline;
  }
}

/* The Modal (background) */
.modal {
  z-index: 2; /* Sit on top */
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;

  position: fixed; /* Stay in place */
  top: 0;
  left: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */

  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  width: 60%;
  height: 80%;

  background-color: #ffffff;
  border-radius: 4px;
  color: #397097;

  position: relative;

  .modal-text {
    width: 100%;
    height: 100%;
    padding: 32px 64px 32px 32px;
    overflow-y: auto;

    h3 {
      margin-top: 16px;
    }
  }

  .close {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 48px;

    &:hover, &:focus {
      cursor: pointer;
      color: #ba4949;
      //color: #38858a;
    }
  }
}


